<div class="mat-typography" fxLayout="column" fxLayoutAlign.lg="center center" fxLayoutAlign.xl="center center">
  <mat-list>
    <mat-list-item>
      <mat-icon class="color" matListIcon>email</mat-icon>
      <span id="email">trent_matthias@hotmail.com</span>
    </mat-list-item>
    <mat-list-item>
      <mat-icon class="color" matListIcon>smartphone</mat-icon>
      <span id="cell">907-223-4985</span>
    </mat-list-item>
    <mat-list-item>
      <mat-icon class="color" matListIcon>map</mat-icon>
      <span id="city">Anchorage, Alaska</span>
    </mat-list-item>
  </mat-list>
</div>
