@import '~@angular/material/theming';
@import 'src/theme.scss';

mat-sidenav {
  width: 240px;
}

.icon {
  color: white;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.sidenav-container {
  height: calc(100% - 64px);
}

.block {
  display: inline-block;
}

.titleTextMargin {
  margin-left: 4px;
}

.text {
  color: rgb(255, 255, 255);
}

.toolbar {
  position: relative;
  background: mat-color($primary, 800);
  box-shadow: 0 2px 5px rgba(0,0,0, .25);
  z-index: 1;
}

button[mat-button] {
  text-align: left;
}

.space {
  margin-right: 10px;
}

.notActive {
  color: rgba(117, 117, 117, 0.87);
}

.active {
  color: mat-color($accent);
  font-weight: bold;
}

// .notActiveDark {
//   color: rgba(117, 117, 117, 0.87);
// }

// .activeDark {
//   color: mat-color($accent, 50);
//   font-weight: bold;
// }
