<md-toolbar
  class="mat-elevation-z1"
  color="primary"
>
  {{(title | async).title}}
  <span class="fill-remaining-space"></span>
  <span>
    <span class="space block">
      <a href="https://www.linkedin.com/in/trent-matthias-277627123" target="_blank">
        <img src="/assets/icons/In.png" alt="LinkedIn Profile">
      </a>
    </span>
    <span class="block">
      <a href="https://github.com/SolidOtacon/My-Site" target="_blank">
        <img src="/assets/icons/GitHub.png" alt="GitHub Source Code">
      </a>
    </span>
</span>
</md-toolbar>
<md-sidenav-container class="sidenav-container">
  <md-sidenav mode="side" opened="true">
    <md-nav-list>
      <span *ngFor="let link of buttonList">
        <a md-list-item md-icon mdListIcon routerLink={{link.link}}>
          <md-icon class="space" [class.active]="link.active" [class.notActive]="!link.active">{{link.icon}}</md-icon>
          <span [class.active]="link.active" [class.secondary]="!link.active">{{link.name}}</span>
        </a>
      </span>
    </md-nav-list>
  </md-sidenav>
  <router-outlet></router-outlet>
  <!-- footer here -->
</md-sidenav-container>


