<div class="container" fxLayout="column" fxLayout.xs="row" fxLayout.sm="row" fxLayoutWrap>
  <mat-list fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <h3 matSubHeader>Open Source</h3>
    <mat-list-item *ngFor="let item of listItems">
      <a *ngIf="item.git" href={{item.git}}>
        <mat-icon mat-list-icon>code</mat-icon>
      </a>
      <p>{{item.text}}</p>
    </mat-list-item>
  </mat-list>
  <mat-list fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <h3 matSubHeader>Open Source</h3>
    <mat-list-item *ngFor="let item of listItems">
      <a *ngIf="item.git" href={{item.git}}>
        <mat-icon mat-list-icon>code</mat-icon>
      </a>
      <p>{{item.text}}</p>
    </mat-list-item>
  </mat-list>
  <mat-list fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <h3 matSubHeader>Open Source</h3>
    <mat-list-item *ngFor="let item of listItems">
      <a *ngIf="item.git" href={{item.git}}>
        <mat-icon mat-list-icon>code</mat-icon>
      </a>
      <p>{{item.text}}</p>
    </mat-list-item>
  </mat-list>
</div>
