<div class="container"
  fxLayout="row" fxLayout.xs="column" fxLayoutAlign.lg="center" fxLayoutAlign.xl="center"
>
  <mat-list>
    <h3 matSubheader>Open Source</h3>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let item of openSource">
      <a target="_blank" rel="noopener" *ngIf="item.git" href={{item.git}}>
        <mat-icon mat-list-icon>code</mat-icon>
      </a>
      <p>{{item.text}}</p>
    </mat-list-item>
  </mat-list>
  <mat-list>
    <h3 matSubheader>Other Languages</h3>
    <mat-divider></mat-divider>
    <mat-list-item class="no-icon" *ngFor="let item of languages">
      <p>{{item.text}}</p>
    </mat-list-item>
  </mat-list>
  <mat-list>
    <h3 matSubheader>Databases</h3>
    <mat-divider></mat-divider>
    <mat-list-item class="no-icon" *ngFor="let item of databases">
      <p>{{item.text}}</p>
    </mat-list-item>
  </mat-list>
  <mat-list>
    <h3 matSubheader>Other</h3>
    <mat-divider></mat-divider>
    <mat-list-item class="no-icon" *ngFor="let item of other">
      <p>{{item.text}}</p>
    </mat-list-item>
  </mat-list>
</div>

