<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap>
  <mat-list fxLayout="column">
    <h3 matSubheader>Open Source</h3>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let item of openSource">
      <a *ngIf="item.git" href={{item.git}}>
        <mat-icon mat-list-icon>code</mat-icon>
      </a>
      <p>{{item.text}}</p>
    </mat-list-item>
  </mat-list>
  <mat-list fxLayout="column">
    <h3 matSubheader>Other Languages</h3>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let item of languages">
      <a *ngIf="item.git" href={{item.git}}>
        <mat-icon mat-list-icon>code</mat-icon>
      </a>
      <p>{{item.text}}</p>
    </mat-list-item>
  </mat-list>
  <mat-list fxLayout="column">
    <h3 matSubheader>Databases</h3>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let item of databases">
      <a *ngIf="item.git" href={{item.git}}>
        <mat-icon mat-list-icon>code</mat-icon>
      </a>
      <p>{{item.text}}</p>
    </mat-list-item>
  </mat-list>
  <mat-list fxLayout="column">
    <h3 matSubheader>Other</h3>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let item of other">
      <a *ngIf="item.git" href={{item.git}}>
        <mat-icon mat-list-icon>code</mat-icon>
      </a>
      <p>{{item.text}}</p>
    </mat-list-item>
  </mat-list>
</div>
