@import '~@angular/material/theming';
@import 'src/theme.scss';

.container {
  padding: 8px;
}

.bigimg {
  width: 150px;
  height: 150px;
  min-height: 150px;
  min-width: 150px;
}

.smallimg {
  width: 50px;
  height: 50px;
  min-height: 50px;
  min-width: 50px;
}

.smallname {
  height: 20px !important;
}

.bigname {
  height: 35px !important;
}

.mat-list-icon {
  color: mat-color($accent);
}
