.padding {
  padding: 8px;
}

.list-item {
  padding-bottom: 10px;
  height: 28px;
}

mat-card {
  width: 100%;
  min-width: 255px;
}

.firstp {
  margin-top: 0;
}

p {
  font-size: 14px;
}

.date {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}


.inceptionTitle {
  margin-left: 8px;
  padding-bottom: 2px;
  padding-top: 10px;
  margin-bottom: 0;
}

.inceptionDescription {
  margin-left: 8px;
  padding-top: 2px;
  margin-bottom: 4px;
}

.italic {
  font-style: italic;
}
