<div class="padding mat-typography" *ngFor="let card of workCards" fxLayout="row">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{card.title}}
      </mat-card-title>
      <div fxFlex></div>
      <span class="date">{{card.startDate}} - {{card.endDate}}</span>
      <mat-card-subtitle>
        {{card.company}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p *ngFor="let description of card.description; let i = index" [class.firstp]="i === 0">{{description}}</p>
      <div *ngIf="card.jobInception">
        <div *ngFor="let inception of card.jobInception;">
          <p class="italic inceptionTitle">{{inception.title}}</p>
          <p *ngFor="let description of inception.description; let i = index"
          [class.firstp]="i === 0" class="inceptionDescription"
          >
            {{description}}
          </p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

