<div class="padding" *ngFor="let card of workCards" fxLayout="row">
  <mat-card>
    <mat-card-header>
      <mat-card-title >
        {{card.title}}
      </mat-card-title>
      <div fxFlex></div>
      <span class="date">{{card.startDate}} - {{card.endDate}}</span>
      <mat-card-subtitle>
        {{card.company}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{card.description}}</p>
      <div *ngIf="card.jobInception">
        <div *ngFor="let inception of card.jobInception">
          <p class="italic inceptionTitle">{{inception.title}}</p>
          <p class="inceptionDescription">{{inception.description}}</p>
          <mat-list *ngIf="inception.bullets">
            <mat-list-item class="list-item" *ngFor="let bullet of inception.bullets">
              <mat-icon class="icon">fiber_manual_record</mat-icon>
              <p>{{bullet}}</p>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
      <mat-list *ngIf="card.bullets">
        <mat-list-item class="list-item" *ngFor="let bullet of card.bullets">
          <mat-icon class="icon">fiber_manual_record</mat-icon>
          <p>{{bullet}}</p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>

