.padding {
  padding: 8px;
}

.center-img {
  height: 200px;
  min-width: 200px;
  display: block;
  margin: auto;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
}

.container {
  min-width: 312px;
}

.center {
  text-align: center;
}
