<div class="padding container mat-typography">
  <img class="center-img" src="/assets/icons/me.jpg" alt="University of Alaska Anchorage">
  <h1 class="center">
    About Me!
  </h1>
  <p class="center">
    Web developer with over a year of professional experience. Eye for perfection and a constant need to learn;
    love using the latest technologies.
  </p>
  <p>
    Passionate developer that recently graduated from University of Anchorage Alaska.
    I love playing games, and originally wanted to be a game developer; which inspired my degree in Computer Science.
    However, I found a passion in modern web development, I love using Angular and React,
    and want to learn as much as I can.
    I've been exposed, in production, to Node, MongoDb, CouchDB, Neo4j, and built a PHP API backend.
    I enjoy full stack development and want more opportunities to grow my skills.
    I'm open to new opportunities, and would love to move out of Alaska.
  </p>
  <h1 class="center">
    About This Site!
  </h1>
  <p class="center">
    This site is hosted using Google's Firebase, and was built using Angular, Material 2, and NgRx.
    The source code can be found at the Github link in the toolbar.
  </p>
</div>

