<div class="padding container">
  <img class="center-img" src="/assets/icons/me.jpg" alt="University of Alaska Anchorage">
  <h1 class="center">
    About Me!
  </h1>
  <p class="center">
    Web developer with a little more than a year of experience. Eye for perfection and a constant need to learn;
    love using the latest technologies.
  </p>
  <p>
    Born and raised in Anchorage Alaska, and attended the local university.
    Have a strong interest in games (board and video) that inspired me to pursue my CS degree.
    Love traveling and experiencing new places.
    Recently graduated, and currently working at the local telecommunications company as a graduate intern.
    Looking to relocate from Alaska so open to new opportunities.
  </p>
</div>

